<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Dr Blaze's (About Us)</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About Us</a></li>
          <li><a href="./works.html" title="">Services</a></li>
          <li><a href="./publications.html" title="">Publications </a></li>
          <li><a href="./contact.html" title="">Contact </a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 style="color:Red" class="h2">About Us</h1>
   <div class="container">
    <div class="row">
      <div class="col-sm-8 col-l-offset-2 section-container-spacer">
        <div class="text-center">
      <div>
          <ul class="nav navbar-nav navbar-center navbar-small visible-md visible-lg">
            <li><a href="./about1.html" title="" class="active">Who We Are</a></li>
            <li><a href="./about2.html" title="" class="active">Our Leadership Team</a></li>
            <li><a href="./about3.html" title="" class="active">Our Capabilities</a></li>
            <li><a href="./contact.html" title="" class="active">Contact Us</a></li>
          </ul>
      </div>
       </div>
      </div>
       </div>
     </div>
       </div>
      </div>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-container-spacer text-center">
            <h3 style="color:Blue"><a href="./about1.html" title="" class="active">Who We Are</a></h3>
            <p><strong>Our mission is to consistently deliver exceptional performance with uncompromised quality</strong></p>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <p>Dr. Blaze's Laboratories is a privately held independent contract analytical laboratory testing service provider founded by Dr. Melvin Blaze in 2023. Our laboratory specializes in serving the pharmaceutical (small molecule and biopharmaceuticals), nutraceutical, food & beverage, and environmental analysis industries. We are driven by a mission to deliver exceptional performance with unwavering commitment to quality.</p>
                  <p>At Dr. Blaze's Laboratories, our primary focus is on providing accurate and reliable analytical testing services. Our team of experts utilizes state-of-the-art technology and industry-leading methodologies to ensure precise and consistent results. We understand the critical importance of quality in our field, and it is at the core of everything we do.</p>
                  <p>With a customer-centric approach, we aim to exceed client expectations by delivering timely and comprehensive analytical solutions. Our dedication to quality extends to our commitment to ongoing improvement, staying abreast of the latest advancements in analytical techniques and industry standards.</p>
                  <p>By partnering with Dr. Blaze's Laboratories, clients can rely on our expertise, reliability, and dedication to quality. We are proud to be a trusted analytical testing service provider, contributing to the success of our clients' projects and ultimately promoting the well-being of end-users and the environment.</p>
                </div>
              </div>
            </div>
            </div>
  </div>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-container-spacer text-center">
            <h3 style="color:Blue"><a href="./about2.html" title="" class="active">Our Leadership Team</a></h3>
            <div class="col">
                  <img src="./static/assets/images/Melvin1.jpg" class="center" alt="" width="220" height="238">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h3 style="text-align:center">Melvin Blaze <b>(Founder and CEO)</b></h3>
                  <p>Melvin is an accomplished leader with an exceptional academic background. He earned his PhD in Analytical Chemistry with a specialization in Mass Spectrometry from the University of Illinois at Chicago, and he holds an MS in Analytical Chemistry from St. Joseph's College Bangalore (India).</p>
                  <p>With over 20 years of experience, Melvin has successfully led diverse analytical teams in industries such as Pharmaceuticals (Preclinical, Clinical, and Manufacturing), Food & Beverage, Contract Research Organizations, and Environmental Fate and Metabolism. </p>
                  <p>During his tenure in the pharmaceutical industry, Melvin spent over 6 years working in the analytical and bioanalytical divisions. He provided crucial support to pre-clinical, clinical, and QC analytical labs at companies including Aurigene Discovery Technologies, a biotechnology firm focused on drug discovery and development, Eurofins Advinus, a contract research organization specializing in regulatory toxicology, CMC services, DMPK, and analytical R&D services, and Medefil, Inc, a reputable medical device and drug manufacturing company.</p>
                  <p>Melvin also played a key role in building and implementing the metabolomics platform at PepsiCo, Inc, one of the world's leading food and beverage companies. For over 5 years, he oversaw the application of this platform across PepsiCo's major product portfolio, including Tropicana®, Quaker, Pepsi, Frito-Lays, and Gatorade. Additionally, Melvin spent over 4 years at Waters Corporation, a prominent measurement device manufacturing company, where he led the development of novel chromatographic products and automation workflows.</p>
                  <p>Furthermore, Melvin led a team dedicated to supporting Environmental Fate and Metabolism studies at Smithers one of leading contract research organization for regulated Environmental risk sciences.</p>
                  <p>With his extensive expertise in analytical chemistry and his proven leadership capabilities, Melvin is a valuable addition to our leadership team. His vast experience across multiple industries positions him to drive success, foster innovation, and contribute to our organization's growth.</p>
                </div>
              </div>
            </div>
            </div>
  </div>


<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-container-spacer text-center">
            <div class="col">
                  <img src="./static/assets/images/Asha.jpg" class="center" alt="" width="290" height="266">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h3 style="text-align:center">Asha Abraham Blaze <b> (Founder and CFO) </b></h3>
                  <p>Asha is a highly skilled professional with a strong educational background. She holds an MBA in Finance and Marketing from Chinmaya Institute of Technology, India, and a B.Com in Accounting and Finance from the University of Calicut.</p>
                  <p>With over 9 years of experience, Asha has specialized in credit risk operations and assets & wealth management, consistently surpassing organizational goals in high-pressure environments. Her expertise lies in preparing finance reports, reconciliation reports, country risk reports, past due reports, quality checks, and Key Process Indicators (KPIs).</p>
                  <p>Asha possesses extensive experience in analyzing and capturing trades within the credit risk management (CRM) central repository. She is proficient in updating static data, maintaining hierarchy, and facilitating the accurate flow of exposure and credit limits.</p>
                  <p>Previously, Asha worked at TATA Consultancy Services, where she served as the client lead for Deutsche Bank in Singapore. In this role, she successfully managed a team of over 10 associates responsible for different sub-processes, including LS2 Recon, SA RWA (Standard Approach Risk Weighted Assets), CIB unassigned (Corporate & Investment Banking), dbArtos, and Siperian. Asha demonstrated exceptional client management skills, ensuring timely deliverables and addressing any queries with the utmost professionalism. She also generated accurate and timely ad-hoc reports for senior management.</p>
                  <p>Asha's diverse skill set, coupled with her ability to deliver high-quality results, makes her a valuable asset to our leadership team. Her comprehensive understanding of credit risk operations and wealth management will greatly contribute to our organization's success and enable us to achieve our objectives efficiently.</p>
               </div>
              </div>
            </div>
            </div>
  </div>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-container-spacer text-center">
            <h3 style="color:Blue"><a href="./about3.html" title="" class="active">Our Capabilities</a></h3>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <p align="center">This page is under construction</p>
                </div>
              </div>
            </div>
            </div>
  </div>
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-container-spacer text-center">
            <h3 style="color:Blue"><a href="./contact.html" title="" class="active">Contact Us</a></h3>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <p>If you have any questions or would simply like to connect with us, please don't hesitate to reach out. We are here to assist you and look forward to connecting with you.</p>
                </div>
              </div>
            </div>
            </div>
  </div>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© mblaze | Website created by MelvinBlaze</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>